<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firebase RealTime Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <header>
        <div id="dataElement" data-variable="{{ name }}"></div>
        <h2>Firebase RealTime Chat</h2>
    </header>

    <div id="chat">
        <ul id="messages"></ul>

        <form id="message-form">
            <input id="message-input" type="text" />
            <button id="message-btn" type="submit">Send</button>
        </form>
    </div>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
